.weather {
  background-image: url(./background.jpg);
  height: 500px;
  color: white;
  border: 1px solid gray;
  margin: 50px auto;
  padding: 56px;
  border-radius: 5px;
}

.weather h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
}

.weather form {
  margin-bottom: 20px;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  list-style: none;
}

.weather img {
  height: 64px;
  margin-right: 10px;
  display: inline-block;
}

.weather .temperature {
  font-size: 44px;
  font-weight: bold;
  line-height: 64px;
}

.weather .unit {
  margin-left: 5px;
  position: relative;
  top: -25px;
}

.sentence {
  text-align: center;
  font-size: 24px;
  opacity: 0.4;
  padding-top: 50px;
}
