.weather {
  font-family: Kanit;
  position: relative;
  height: 80vh;
  color: white;
  margin: 50px auto;
  padding: 56px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 4px rgb(36, 29, 29);
}

.weather::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(4px);
  z-index: -1;
}

@media screen and (max-width: 1300px) {
  .weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.weather h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
}

.weather form {
  margin-bottom: 20px;
}

form .btn {
  box-shadow: 3px 3px rgb(78, 66, 66);
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  list-style: none;
}

.weather img {
  width: 100px auto;
  height: 74px;
  margin-right: 10px;
}

.weather .temperature {
  font-size: 43px;
  font-weight: bold;
  line-height: 64px;
}

.weather .unit {
  margin-left: 5px;
  position: relative;
  top: -25px;
}

.sentence {
  text-align: center;
  font-size: 24px;
  opacity: 0.4;
  padding-top: 50px;
}
